<h1>Listing runs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Anz staf</th>
    <th>Anz eps</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @runs.each do |run| %>
<% if run.global %>
  <tr>
    <td><%= run.name %></td>
    <td><%= run.anz_staf %></td>
    <td><%= run.anz_eps %></td>
    <td><%= run.rating %></td>
    <td><%= link_to 'Show', run %></td>
    
    <% if current_user.is_admin %>
    <td><%= link_to 'Edit', edit_run_path(run) %></td>
    <td><%= link_to 'Destroy', run, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
	<% flag = true %>
	<%current_user.user_run.each do |ur1| %>
		<% if ur1.run_id == run.id && ur1.user_id == current_user.id%>
    			<% flag = false %>
		<%end%>
	<%end%>
	<% if flag %>
		<td><%= button_to("to myList", my_list_add_path(run.id)) %></td>
	<%end%>
  </tr>
  <% end %>
<% end %>

<% @runs.each do |run| %>
<% if current_user.is_admin && !run.global && run.name != "Chat" %>


  <tr>
    <td><%= run.name %></td>
    <td><%= run.anz_staf %></td>
    <td><%= run.anz_eps %></td>
    <td><%= run.rating %></td>
    <td>  </td>
    <td><%= link_to 'Edit', edit_run_path(run) %></td>
    <td><%= link_to 'Destroy', run, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />
<% if current_user.is_admin %>
<%= link_to 'New Run', new_run_path %>
<% end %>
