<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @run.name %>
</p>

<p>
  <b>Anz staf:</b>
  <%= @run.anz_staf %>
</p>

<p>
  <b>Anz eps:</b>
  <%= @run.anz_eps %>
</p>

<p>
  <b>Rating:</b>
  <% if @run.anz_rating != 0 %>
  <%= (@run.rating / @run.anz_rating)*100  %>%
  <% else %>
  <%= @run.rating %> 
  <%end%>
<%= button_to("+", runs_rate_p_path) %>
<%= button_to("-", runs_rate_m_path) %>

</p>

<p>
  <b>Anz rating:</b>
  <%= @run.anz_rating %>
</p>

<p>
  <table>
  <th>Episodes:</th>
  <tr>
  <td>No.</td><td>Title</td>
  </tr>
  <% @run.episodes.each do |ep| %>
     <tr>
	<td><%= ep.nr %></td>
     	<td><%= ep.title %></td>
     </tr>
  <% end %>
  </table>
</p>

<p>
  <b>Tags:</b>
  <% @run.tag.each do |tagi| %>
     <%= tagi.name %>,
  <% end %>
</p>

<p>

  <b>Comments:</b><br/>
    <% @run.comments.each do |com| %>
	<%= com.user.name %> said:     
	<%= com.content %></br>     
  <% end %></br>

</p>

<p>
<h2>Add a comment:</h2>
<%= form_for([@run, @run.comments.build]) do |f| %>

  <div class="content">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</p>

</br>
<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
