<p id="notice"><%= notice %></p>

<p>
  <b>Nr:</b>
  <%= @episode.nr %>
</p>

<p>
  <b>Datum:</b>
  <%= @episode.datum %>
</p>

<p>
  <b>Title:</b>
  <%= @episode.title %>
</p>

<p>
  <b>Rating:</b>
  <%= @episode.rating %>
</p>

<p>
  <b>Anz rating:</b>
  <%= @episode.anz_rating %>
</p>

<p>
  <b>Run:</b>
  <%= @episode.run %>
</p>


<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
