<h1>Welcome to Wimso</h1>
<h2> rest-info </h2>
<% if not user_signed_in? %>
 <h3><%= link_to('Register', new_user_registration_path)  %><br/>
  <%= link_to('Login', new_user_session_path)  %>  <br/></h3>
 <% end %>

currently available series: </br>
<% chat = Run.new %>
<table>
<tr>
<th></th>
<% @allruns.each do |run| %>
<% if run.global %>
  <tr>
    <td><%= run.name %></td>
	<% if user_signed_in?  %>
	<td><%=link_to "details", run%></td>
	<% end %>
  </tr>
  <% else %>
	<% if run.name == "Chat" %>
		<% chat = run %>
	<%end%>
  <% end %>
<% end %>
</table>
</br>
<% if user_signed_in?  %>
<br/>
<h2> Users</h2>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @allusers.each do |user| %>
  <tr>
<% if user.id != current_user.id %>
    <td><%= user.name %></td>
    <% if user_signed_in? %>
	<td><%=link_to "Profile", show_profile_path(user.id)%></td>
	<% end %>
<% end %>
  </tr>
<% end %>

<% end %>
</table>
<br/>
<br/>
<div>
  <b>Chat:</b><br/>
    <% i = 0 %>
    <% chat.comments.reverse.each do |com| %>
	<% if i > 17 %> <% break %> <% end %>
	<%= com.user.name %> :</br>    
	<%= com.content %></br>
        <% i +=1 %>     
  <% end %></br>


<%= form_for([chat, chat.comments.build]) do |f| %>

  <div class="content">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



</div>

