<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @series.name %>
</p>

<p>
  <b>Anz staf:</b>
  <%= @series.anz_staf %>
</p>

<p>
  <b>Anz eps:</b>
  <%= @series.anz_eps %>
</p>

<p>
  <b>Rating:</b>
  <%= @series.rating %>
</p>

<p>
  <b>Comments:</b>
  <%= @series.comments %>
</p>

<p>
  <b>Episodes:</b>
  <%= @series.episodes %>
</p>

<p>
  <b>Anz rating:</b>
  <%= @series.anz_rating %>
</p>

<p>
  <b>Global:</b>
  <%= @series.global %>
</p>


<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_path %>
