<% u=User.find(params[:id])%>

<% if current_user.id == u.id  %>




Hallo 
<%= u.name %> <br/>

Account settings: </br>
<%= link_to 'Edit Profile', edit_user_registration_path %>
<%if u.privacy_flag %>
Privacy enabled</br>
<%else%>
Public Profile</br>
<%end%>

<%= u.email %><br/>
<p><table>
<b>My Series</b>
<tr>
<% u.user_run.each do |myrun|%>
<%dieid= myrun.run_id %>
<% r= Run.find(dieid) %>
<td><%= r.name %></td>
<td>Watched: <%= myrun.curr_eps %>/<%=r.anz_eps%> </td>
<td><%= link_to '+', edit_ur_path(myrun,0) %></td>
<td><%= link_to '-', edit_ur_path(myrun,1) %></td>
<td><%= link_to 'delete', delete_ur_path(myrun), confirm: 'Are you sure?', method: :delete %></td>
<% end %>
</tr>
</table>
<p>	
Add a Series that is not in the global list</br>
<%= link_to 'Add new Series', new_run_path %>
<p>
Friends: </br>
	<% u.friends.each do |friend| %>
		<%= friend.email %> <%=link_to "Profile", show_profile_path(friend.id)%> </br>
	<% end %>

<% else %>

<% show = false %>
<% current_user.friends.each do |fr| %>
	<% if fr.id == u.id %>
		<% show = true %>
	<%end%>
<%end%>	


<% if show %>
		<%= u.name %> is your friend.</br>
		Email: <%= u.email %></br>
		<%if u.privacy_flag %>
			This User doesn't allow public viewing of the Series he is watching.</br>
		<%else%>
			This User is watching.</br>
			<% u.user_run.each do |myrun|%>
			<%dieid= myrun.run_id %>
			<%=Run.find(dieid).name %></br>
			<br/>
			<% end %>
		<%end%>
<% else %>
		<%= u.name %> is  not your friend.</br>
		<%= form_tag(add_friend_path, :method => "put") do %>
		 <%= hidden_field_tag :id, u.id %>
		  <%= submit_tag("add as a friend") %>
<% end %>

<% end %>




<% end %>
