<div align="center">
<%= link_to "index", root_path %>
<%= link_to "serien", runs_path %>
<% if user_signed_in? %>
<%= link_to "dashboard", show_profile_path(current_user.id) %>
<% end %>
</div>



<div align="right">
<% if user_signed_in? %>
 logged in as <%= current_user.name %> 
 <% if current_user.is_admin %>
 (ADMIN) 
 <% end %>
 |
  <%= link_to('Logout', destroy_user_session_path, :method => 'delete') %>        
<% else %>
  <%= link_to('Register', new_user_registration_path)  %>
  <%= link_to('Login', new_user_session_path)  %>  
  
<% end %>

</div>